header{
    height: 45px;
    width:100%;
    background-color: #c62f2f;
    position:fixed;
    z-index: 3;
}
nav{
    width: 197px;
    height:1000px;
    background-color: #f5f5f7;
    position: fixed;
    top: 45px;
}
main{
    width: 100%;
    padding-left:200px;
    padding-top: 45px;
    background-color: #fafafa;
    height: 2000px;
}
.header-left{
    color: #ffffff;
    position: absolute;
    top:50%;
    left: 0px;
    transform: translate(17px,-50%);
}
.header-right{
    float: right;
    position: absolute;
    right: 0px;
    top:50%;
    transform: translate(0,-50%);
}
.header-right a:hover{
    color:#ffffff;
}
.dengu:hover{
    color:#ffffff;
}
.logo{
    width:23px;
    height:23px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #c62f2f;
    display: inline-block;
    line-height: 23px;
    text-align: center;
    margin-right: 5px;
}
.arrow{
    display: inline-block;
    position: absolute;
    left:112px;
    top: 0px;
    margin-left: 60px;
    width:48px;
}
.arrow>div{
    font-size: 11px;
    border-radius: 3px;
    display: inline-block;
    border:1px solid #a82828;
    height: 26px;
}
.arrow>div:nth-child(1){
    float:left;
    width: 24px;
    text-align: center;
    line-height: 20px;

}
.arrow>div:nth-child(2){
    float:right;
    width: 24px;
    text-align: center;
    line-height: 20px;

}
.search{
    position:absolute ;
    top: 0px;
    left: 120px;
    display: inline-block;
    font-size: 16px;
    position: relative;
}
.search1{

    height:23px;
    outline-style: none;
    border:none;
    width: 175px;
    font-size: 9px;
    padding: 10px;
    border-radius: 13px;
    background-color:#a82828 ;
    color: #c77373;
}
.search>.fangda{
    position: absolute;
    top:7px;
    left:155px;
    font-size: 12px;
    color: #c77373;
}
.fangda:hover{
    color: #ffffff;
}
.touxiang{
display: inline-block;
    color:#ccccc;

}
.denglu{
    color: #ffffff;
}
.denglu:hover{
    color: #ffffff;
}
.touxiang>a:nth-child(1){
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width:18px;
    height:18px;
    line-height: 18px;
    background-color: #e1e3e4;
    border-radius: 50%;
    margin-right:5px ;
    color: #cccccc;

}
.touxiang>a:nth-child(1):hover{
    color:#ffffff;
}
.touxiang>a:nth-child(2){
    font-size: 12px;
    color: #eec1c1;
}
.touxiang>a:nth-child(2):hover{
    color: #ffffff;
}
.personal{
    display: inline-block;
    list-style: none;
}
.personal>li{
    display: inline-block;
    text-decoration: none;
}
.personal a{
    text-decoration: none;
    color: #eec1c1
}
.setting{
    display: inline-block;
    list-style: none;
}
.setting>li{
    display: inline-block;
    color: #eec1c1;

}
.setting>li:hover{
    color:#ffffff;
}
li{
    font-size: 12px;
}
i{
    font-size: 12px;
    margin: 0 4px;
}
.setting a{
    text-decoration: none;
    color: #eec1c1;
}
nav>p{
    color: #7d7d7d;
    font-size: 10px;
    margin-left: 8px;
    margin-top: 8px;
}
nav>ul li{
    font-size: 8px;
    color:#5c5c5c;
    padding-left: 16px;
    padding-top: 10px;
    border-left: 2px solid #f5f5f7;

}
nav>ul li:hover{
    color: #000;
}
.tuijian>li>a{
    text-decoration: none;
    color: #000000;
    outline: none;
}
.main-nav{
    height: 44px;
    width: 100%;
    padding: 0 25px;
    border-bottom:  1px solid #e1e1e2;
    position: relative;
    position: relative;
}
.main-nav ul{
    display: block;
    margin: 0 auto;
    width: 525px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 50%;*/
    /*transform: translate(-50%,0);*/
}
.main-nav li{
    display: inline-block;
    line-height: 44px;
    padding: 0 14px;
}
.main-nav>ul>li>a{
    text-decoration: none;
    color: #000;
}
.main-nav li>a:hover{
    color: #c62f2f;
}
 body{
     /* position: relative; */
 }
.big{
    width: 500px;
    height: 300px;
    background: linear-gradient(#957780,#324713);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index:3;
}
.biaodan{
    background-color: rgba(245,244,249,0.1);
    width: 90%;
    height: 200px;
    margin: 12px auto;
    border-radius: 10px;

}
.wenzi{
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 35px;
}
form{
    font-size: 20px;
}
form div{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding-left:80px;
    padding-top: 20px;

}
input{
    font-size: 18px;
}
.shuru{
    height: 20px;
    width: 155px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.denglu{
    background-size:100% 100% ;
    background-color: rgba(0,0,0,0);
    border: 0px;
    height: 30px;
    width: 100px;
    margin-top:10px ;
    display: inline-block;
}
.zuce{
    margin:0 auto;
    position: absolute;
    left: 50%;
    top:80%;
    transform: translate(-50%,-50%);
}
.loging{
    margin: 0 auto;
    width: 300px;
    height: 200px;
    background-color: rgb(238,238,238);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:10;
    display: none;
}

.form{
    height: 100px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#denglu{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#denglu,.pap{
    outline:none;
    /*background:transparent;*/
    border:none;
    outline:medium;
}
.content{
    width:100%;
    height: 230px;
    /*background:red;*/
    margin-top: 13px;

}
.imglist{
    width:90%;
    height:200px;
    margin: 0 auto;
    position: relative;
    /*background-color: skyblue;*/
}
.imglist>ul{
    width:100%;
    height:100%;
    position: relative;

}
.imglist>ul>li{
    /*width:540px;*/
    height:200px;
    position: absolute;
    transition: 0.3s;

}
.imglist>ul>li>img{
    height:100%;
}
.lineb{
    width:100%;
    height: 31px;
    /*background-color: #00ff00;*/
    text-align: center;

}
.list1{
    left:0%;
    z-index: 1;
    transform: scale(0.95);
    transform-origin: 0% 100%;
    animation: li1 0.3 ease;
}
.list2{
    left:50%;
    transform: translate(-50%,0);
    z-index: 2;
}
.list3{
    left:100%;
    z-index: 1;
    transform: translate(-100%,0) scale(0.95);
    transform-origin: 100% 100%;

}
.list4,.list5,.list6,.list7{
    left:50%;
    transform: translate(-50%,0) scale(0.95);
    transform-origin: 100% 100%;
}
.lineb>span{
    display: inline-block;
    width:20px;
    height: 2px;
    background-color: #cccccc;
    text-align: center;
    margin-left:5px ;

}
.imglist:hover #main-arr{
    display: block;
}
#main-arr{
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    z-index:2;
    width:100%;
    display: none;
}
#main-arr-l{
    float: left;
    display: block;
    color: #8c8d8d;
}
#main-arr-r{
    float: right;
    display: block;
    color: #8c8d8d;
}
#main-arr-l,#main-arr-r:hover{
    color: #ffffff;
}
.opacity{
    width: 100%;
    height:95%;
    position: absolute;
    bottom: 0;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
}
.tuijiangedan{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    /*background-color: #a82828;*/
}
.data{
    width: 1000px;
    color: yellow;
    height: 50px;
    float: left;
}
.left-ul>li a{
    text-decoration: none;
    /*color: #000;*/
}
.left-ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.left-ul>li{
    display: inline-block;
    margin-right:10px ;
}
.word{
    width: 100%;
    height:350px;
}
.comment{
    float: left;
    /*background-color: red;*/
    width: 60%;
    height: 120px;
    position: relative;
}
.pushComment{
    width: 90%;
    height: 25px;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    left: 50%;
    top: 29px;
    transform: translate(-50%,0);
    box-shadow: 1px 0px 0px 5px rgba(237 246 245 0.9);
}
.handel{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    height:40px;
    background-color:rgb(246,246,246);
    z-index:9999;
}
.handel>ul{
    position: absolute;
    top:50%;
    transform: translate(50%,-50%);
}
.handel>ul>li{
    display: inline-block;
    background-color: rgb(232,60,60);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    position: relative;
}
.handel li>a{
    text-align: center;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

}

.handel>div{
    position: relative;
}
.letfl{
    font-size: 16px;
}
.sumprogress{
    position: absolute;
}
.sum{
    width:450px;
    height: 2px;
    background-color: rgb(230,230,232);
    position: absolute;
    left:243px;
    top: 22px;
}
.progress{
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(232,60,60);
}
.smallround{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
    height:12px;
    border-radius: 50%;
    background-color: rgb(246,246,246);
    border: 1px solid rgb(198,198,198);
    z-index: 1;
}
.smallround:hover{
    box-shadow: 0px 0px 1px 1px;
}
.smallround>span{
    width: 2px;
    height: 2px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(232,60,60);
    border-radius:50%;
}
.current{
    position: absolute;
    top:13px;
    left: 187px;
}
.zhongshijian{
    position: absolute;
    top: 12px;
    left: 711px;
}
.ting{
    display: none;
}
.fang{
    display: block;
    z-index: 1;
}
.tuijiangedan>div{
    width: 18%;
    background-color: #ccc;
    height: 100px;
    float: left;
}
.tuijiangedan>div{
    color: #ffffff;
    margin: 1% 1%;
}
.toptop{
    width: 100%;
    height: 20%;
    font-size: 20px;
    text-align: center;
    padding-top:10px ;
}
.buttom{
    width: 100%;
    height: 80%;
    font-size: 40px;
    text-align: center;
    padding-top:20px ;
    color: #c62f2f;
}

