@font-face {
    font-family: 'iconfont';  /* project id 1163104 */
    src: url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.eot');
    src: url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.woff') format('woff'),
    url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1163104_70ugs9hosfq.svg#iconfont') format('svg');
    font-style: normal;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
